#exampleInputEmail2 {
    height:500px;
}
body{
    background-color: #ffffff;
}
#tutorial{
    background-color: #ffffff;
}
#inputForm{
    background-color: #ffffff;
}
#killDeathRatio{
    background-color: #ffffff;
}
#mapStats{
    background-color:#ffffff ;
}
#killFeed{
    background-color:#ffffff ;
}