#exampleInputEmail2 {
    height: 500px;
}

body {
    background-color: #20BAC5;
}

/* #tutorial{
    background-color: #bac8cf;
} */
#inputForm {
    background-color: #ffff6f;
}

#killDeathRatio {
    background-color: #ffff6f;
}

#mapStats {
    background-color: #ffff6f;
}

#kills {
    background-color: #ffff6f;
}

#title {
    color: blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
}



/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: rgb(37, 37, 247);
}

/* mouse over link */
a:hover {
    color: blueviolet;
}

#footer {
    background-color: #ffff6f;
    

}
/* footer{
    margin: auto;
    width: 50%;
    padding: 10px; 
}*/
/* #mapKillFeed {
    width: 50%;
    padding: 10px;
} */